* {
  box-sizing: border-box;
}

html {
  width: 80%;
  margin: 5em auto;
  font-family: ff-chambers-sans-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
ul li {
  background: #F3E5F5;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  border-bottom: 1px solid #BA68C8;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  

  
ul li:hover {
  background: #E1BEE7;
}
  
ul li.checked {
  background: #CE93D8;
  color: #fff;
  text-decoration: line-through;
}
  
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 14px;
  left: 18px;
  transform: rotate(45deg);
  height: 10px;
  width: 5px;
}
  
  
.close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px 8px;
  padding: 0px 8px;
  font-size: 20pt;
  color: #8E24AA;
  border-radius: 100px;
}
  
.close:hover {
  background-color: #B665C4;
  color: white;
  transition: 0.2s;
}


.header {
  background-color: #B665C4;
  padding: 5% 10%;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
  

.header:after {
  content: "";
  display: table;
  clear: both;
}
  
 
input {
  margin: 0;
  border: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 80%;
  padding: 10px 20px;
  float: left;
  font-family: ff-chambers-sans-web, sans-serif;
  font-size: 16px;
}

::placeholder {
  font-family: ff-chambers-sans-web, sans-serif;
  color: #CE93D8;
}
  

.addBtn {
  padding: 10px;
  width: 20%;
  background: #8E24AA;
  color: #E1BEE7;
  float: left;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  transition: 0.3s;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
  
.addBtn:hover {
  background-color: #6A1B9A;
  font-weight: 800;
}
